.container {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: rgba(190, 152, 152, 0.695);
  margin-bottom: 2%;
  padding-top: 1%;
  color: white;
  text-shadow: 3px 4px 4px rgb(3, 3, 3);
  font-size: x-large;
}

.container button {
  background-color: rgba(190, 152, 152, 0.695);
  padding: 10px 25px;
  border: 1px solid black;
  border-radius: 3px;
}

.container button:hover {
    background-color: rgba(1, 12, 138, 0.637);
}

.container a {
  text-shadow: none;
  color: rgb(0, 0, 0);
  font-size: x-large;
text-decoration: overline;
text-decoration: underline;
margin-bottom: 10px;
animation-name: colorful;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  border-bottom: 2px solid white;
  font-weight: bolder;
}



.container a:hover{
  color: white;
    text-decoration: underline;
    text-shadow: none
    ;
}
