.profileDetails {
    color: rgb(0, 0, 0);
    border: 2px solid rgb(249, 249, 249);
    border-radius: 5px;
    background-color: rgba(190, 152, 152, 0.695);
    width: 50%;
    margin-left: 30%;
    margin-right: 30%;
    margin: 0 auto;
    padding-top: 1%;
}

.sDetails h1 {
    color: blue;
}