.profileDetails {
    color: rgb(0, 0, 0);
    border: 2px solid rgb(76, 48, 186);
    border-radius: 5px;
    background-color: rgba(199, 193, 193, 0.457);
    width: 50%;
    margin-left: 30%;
    margin-right: 30%;
    margin: 0 auto;
}

.sDetails h1 {
    color: blue;
}