.landers {
    color: white;
    text-shadow: 3px 4px 4px rgb(3, 3, 3);
    font-size: xx-large;
    /* border: 2px solid rgb(76, 48, 186); */
    width: 70%;
    margin-left: 30;
    margin: 0 auto;
    margin-top : 5%;
    padding: 5%;
    background-color: rgba(190, 152, 152, 0.654);
    border: 1px solid white;
    
}